*
{
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    font-family: Womby, Impact, "Arial Black", sans-serif;
    --height-visible: 50vw ;    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
      

    
}
.container{
    position: relative;;
    width: 100vw;
    height: 100vh;   
    display: flex;
    flex-direction: column; 
    overflow-y: hidden;
}
.row-giphy{
    display: flex;
    flex-direction: row;
    margin-top: -1vw;
}
.gcont{
    width: 14.285vw;   
    position: relative;
}
.gcont img{
    width: 100%;   
}


.windows-container{  
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
   
}
.windows{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.win98-boxХ{
    position: relative;
}
.win98Cont{
    position: relative;
    width: 100vw;
   
}
#win98{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url(../svg_mobile/win98FullMobile.svg);
    background-size: cover;    
}
.monitor-row-container {
    position: relative;
    width: 19vw;
    height: 26vw;
    top: 9vh;
    left: 8%;
}
#monitor{
    position: absolute;
    width: 17vw;
    height: 85%;
    bottom: 0;
    background-image: url(../svg_mobile/monitorNonActive.svg);
    background-size: cover;
    z-index: 2;
}
#monitor:hover{   
    background-image: url(../svg_mobile/monitorActive.svg);
}

#portfolio{
    position: absolute;
    width: 24vw;
    height: 83%;
    margin-left: 28vw;
    bottom: -3px;
    background-image: url(../svg_mobile/portfolioNonActive.svg);
    background-size: cover;
    z-index: 2;
}
#portfolio:hover{   
    background-image: url(../svg_mobile/portfolioActive.svg);
}
#service{
    position: absolute;
    width: 22vw;
    height: 83%;
    margin-left: 60vw;
    bottom: -1px;
    background-image: url(../svg_mobile/setviceNonActive.svg);
    background-size: cover;
    z-index: 2;
}
#service:hover{   
    background-image: url(../svg_mobile/serviceActive.svg);
}

.mail-row-container {
    position: relative;
    margin-top: calc(11.5vh + 3vw);
    margin-left: 10vw;
    width: calc(-12vh + 78vw);
    height: 25vw;    
}   
#mail{
    position: absolute;
    width: 17vw;
    height: 99%;
    margin-left: -3vw;
    bottom: -1px;
    background-image: url(../svg_mobile/mailNonActive.svg);
    background-size: cover;
    z-index: 2;
}
#mail:hover{   
    background-image: url(../svg_mobile/mailActive.svg);
}
#telegram{
    position: absolute;
    width: 27vw;
    height: 83%;
    margin-left: 23vw;
    bottom: 0px;
    background-image: url(../svg_mobile/telegramNonActive.svg);
    background-size: cover;
    z-index: 2;
}
#telegram:hover{   
    background-image: url(../svg_mobile/telegramActive.svg);
}

.error-block{
    position: fixed;
    width: 100vw;
    height: 50vh;
    margin-top: 50vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error-container{
    margin-top: 0px;
}
.dot-ok-container{
    width: 90vw;
    height: 41vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#ok-dotts{
    width: 27.5vw;
    padding-bottom: 5.25vw;
    z-index: 3;
}
#win98window{    
    width: 90vw;
}
.bottom-row-container {
    position: relative;   
    height: 25vw;  
}   
#mailBut{
    position: absolute;
    width: 20vw;
    height: 67%;
    margin-left: 27vw;
    margin-top:2vh;
    background-image: url(../svg_mobile/mailButNonActive.svg);
    background-size: cover;
    z-index: 2;
}
#mailBut:hover{   
    background-image: url(../svg_mobile/mailButActive.svg);
}
#telegramBut{
    position: absolute;
    width: 20vw;
    height: 67%;
    margin-left: 4vw;
    margin-top:2vh;
    background-image: url(../svg_mobile/telegramButNonActive.svg);
    background-size: cover;
    z-index: 2;
}
#telegramBut:hover{   
    background-image: url(../svg_mobile/telegramButActive.svg);
}

#windfire{
    position: absolute;
    margin-top: calc(-4.5vh + 4vw);
    margin-left: 3vw;
    z-index: 20;
    height: 10vh;
    width: calc(-12vh + 76vw);
}

#mon-dotts{
    position: absolute;
    margin-left: 2vw;
    margin-top: -10.25vw;
    width: 3vw;
}
#mail-dotts{
    position: absolute;
    margin-top: -5.8vw;
    margin-left: 2.5vw;
    width: 2.5vw;
}
#portfolio-dotts{
    position: absolute;
    margin-top: -1.25vw;
    margin-left: 1.5vw;
    width: 4.2vw;
}
#telegram-dotts{
    position: absolute;
    margin-top: 2.65vw;
    margin-left: 1.5vw;
    width: 5vw;
}
#service-dotts{
    position: absolute;
    margin-top: 7.5vw;
    margin-left: 1.5vw;
    width: 4vw;
}
#tel-dotts{
    position: absolute;
    margin-top: 6.4vw;
    margin-left: 38vw;
    width: 3vw;
}
#ma-dotts{
    position: absolute;
    margin-top: 6.4vw;
    margin-left: 41.75vw;
    width: 3vw;
}
#ok-dotts,
#mon-dotts,
#mail-dotts,
#portfolio-dotts,
#telegram-dotts,
#service-dotts,
#tel-dotts,
#ma-dotts{
   opacity: 0;
}
#ok-dotts:hover,
#tel-dotts:hover,
#ma-dotts:hover{
    opacity: 1;
}


.hover-el{
    position: relative;   
}
.hov-control{
    position: absolute;
    width: 3vw;
    height: 3vw;
    margin-top: -13.4vw;
    margin-left: 2.2vw;
}
.hov-control.h2{   
    margin-top: -8.9vw;
}
.hov-control.h3{   
    margin-top: -3.9vw;
}
.hov-control.h4{   
    margin-top: 0vw;
}
.hov-control.h5{   
    margin-top: 4.5vw;
}
.hover-el:hover #mon-dotts,
.hover-el:hover #mail-dotts,
.hover-el:hover #portfolio-dotts,
.hover-el:hover #telegram-dotts,
.hover-el:hover #service-dotts{
    opacity: 1;
}



