*
{
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    font-family: Womby, Impact, "Arial Black", sans-serif;
    --height-visible: 50vw ;    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
    

    
}

#gamburger{
    width: 5vw;
    height: 4.7vw;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    cursor: pointer;
}
#mail{
    position: fixed;
    width: 5vw;
    height: 4.7vw;
    right: 0;
    bottom: 30vh;
    z-index: 26;
    cursor: pointer;
}

#upArrow{
    position: fixed;
    bottom: -10vh;
    right: 0;
    width: 5vw;
    cursor: pointer;
    z-index: 20;
    opacity: 1;
    transition: all 0.5s
    
}

/* #logo{
    width: 10vw;
} */
.lang{
    position: fixed;
    z-index: 20;
    top: 0;   
}
.lang-item {
    width: 5vw;
    height: 4.7vw;
    background: black;
    color: white;
    content: 'ENG';
    font-size: 1.3vw;
    text-align: center;
    display: none;
    border: 1px solid black;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.lang-item.show{
    display: flex;
}
.lang-item span{
    display: block;
    margin-top: 1.7vw;
    height: 100%;
}





.menu{
    position: fixed;
    height: 100%;   
    background-color: #e7335d;
    width: 25vw;
    top: 0;
    right: -25vw;  
    background-image:   linear-gradient(to right, #fed841 50%, transparent 50%), 
                                linear-gradient(to right, #fed841 50%, transparent 50%), 
                                linear-gradient(to bottom, #fed841 50%, transparent 50%), 
                                linear-gradient(to bottom, #fed841 50%, transparent 50%);
            background-position: left top, left bottom, left top, right top;
            background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
            background-size: 4vw 0.6vw, 4vw 0.6vw, 0.6vw 4vw, 0.6vw 4vw;
    transition: all 0.5s;
    height: 100%;   
    z-index: 25;
}
#menu .up_menu-container{
    margin-top: 3vw;
    margin-bottom: 3vw;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 25vw;
    height: 83.5vh;
    overflow: auto;
    padding-top: 4vh;
    padding-bottom: 3vw;
    font-family: Womby, sans-serif;
    font-weight: bold;
}
.accordeon-container{
    position: relative;   
    height: auto;    
}
#downArrow{
    position: absolute;
    width: 2.5vw;
    margin-top: -1.5vw;
    margin-bottom: 1vw;
    margin-left: -1vw;
}
#home{
    margin-bottom: 1vw;
}
#menu .set{
    list-style-type: none;
    font-size: 5.3vh;
    margin-bottom: 0;
    text-align: center;
    font-family: Womby, sans-serif;
    font-weight: 600;
}
#menu .set a{
    font-family: Womby, sans-serif;
    color: black ;
    text-decoration: none 
}
#menu .set a p{
    width: fit-content;
    margin: auto;    
}

#menu .set a p:hover, #menu .set.end a p:hover{
    background-image:   linear-gradient(to right, #fed841 100%, transparent 0%);                       
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: 2vh 2vh;    
    transition: all 0.0s;
    padding: 0;
    padding: 0 0.3vw;
}
#menu > div.up_menu-container > div > div.set > div > p > a:hover{
    background-image:   linear-gradient(to right, #fed841 100%, transparent 0%);                       
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: 1vh 1.4vh;    
    transition: all 0.0s;
    padding: 0;
    margin-bottom: 2.5vh;
    padding: 0 0.2vw;
}



#menu .set.first{
    margin-bottom: 0;
}
#menu .set.end a{
    padding-bottom: 10vh;
}
 .set > a{
    display: block;
    text-decoration: none;    
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    transition:all 0.2s linear;
    text-align: center;
  }
#content-container{
    background: blue;
}
 .content{
    font-size: 4.2vw;
    position:relative;
    width: 100%;
    height: auto;
    /* display:none; */
    text-align: center;
    margin-bottom: 1vw;
}
.content p{
    margin: 0;
    font-size: 3.45vh;
    margin-bottom: 0;
}


.menu.open{   
    transition: all 0.5s;
    position: fixed;
    overflow: hidden;
    z-index: 25;
}
ul{
    padding-top: 6.346vw;
    padding-left: 4.44vw;
}
li{
    list-style-type: none;
    font-size: 2.2vw;
    margin-bottom: 0.8vw;
}

/* 
.menu{  
    position: fixed;
    z-index: 2;
    width: 25vw;
    height:  calc(var(--height-visible)- 3vw);
    background-color: #e7335d;
    top: 0;
    right: -30vw;
    height: 100%;
    background-image:   linear-gradient(to right, #fed841 50%, transparent 50%), 
                                linear-gradient(to right, #fed841 50%, transparent 50%), 
                                linear-gradient(to bottom, #fed841 50%, transparent 50%), 
                                linear-gradient(to bottom, #fed841 50%, transparent 50%);
            background-position: left top, left bottom, left top, right top;
            background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
            background-size: 2.5vw 0.4vw, 2.5vw 0.4vw, 0.4vw 2.5vw, 0.4vw 2.5vw;

    transition: all 0.5s;
}
.menu.open{   
    transition: all 0.5s;
    opacity: 1;
    position: fixed;
    overflow: hidden;
    z-index: 20;
} */
/* ul{
    padding-top: 6.346vw;
    padding-left: 4.44vw;
}
li{
    list-style-type: none;
    font-size: 2.2vw;
    margin-bottom: 0.8vw;
} */
ul.up_menu li:hover{
    color: #fed841;
    cursor: pointer;
}

.open.open.open.open.open.open.open{
    right: 0;
}
.menu .close{
     background: #fed841;
      position: relative;
    /* top:0.4vw; */
    /* right:0.4vw;  */
    cursor: pointer;
    z-index: 3; 
    float: right;
}
#close{
    width: 4vw;
    margin-top: 0.5vw;
    margin-left: 0.5vw;   
}
#close img{
    position: absolute;
    width: 90%;
}

.arrows-container{
    position: fixed;
    width: 100vw;
    margin-top: -30vh;
}

.arrows{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    margin-top: 2vw;
}


.left-arrow, .right-arrow{
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    z-index: 25;
}
.left-arrow-title, .right-arrow-title{
    margin: auto;
    color: white;
}
.left-arrow-title{
    padding-right: 18.63vw;
    padding-top: 3.32vh;
}
.right-arrow-title{
    /* padding-right: -8.367877vw; */
    margin-left: 26.76vw;
    padding-top: 3.32vh;
}
.left_count, .right_count{
    margin: auto;
    color: white;
}

.center-logo{
    position: relative; 
}
#logo{
    width: 8vw;
    margin: auto;
    /* padding-left: 3vw; */
    transition: all 0.2s;
    /* transition: height 0.5s; */
    /* opacity: 0; */

}
.arrows div div{
    font-size: 2.1vw;
    color: black;
}
#arrow_prev{
    height: 7vh;
    margin-top: 2vh;
    margin-left: -9.5vw;
}

#arrow_next{
    height: 7vh;
    margin-top: 2vh;
    margin-left: 20.5vw;
}

.title-start{
    color: #e7335d;
    /* margin-left: 28.5vw; */
    margin: auto;
    font-size: 3.88vw;
    margin-top: 30vh;
    width: 45vw;
}
.title{
    color: #e7335d;
    /* margin-left: 28.5vw; */
    margin: auto;
    font-size: 2.13vw;
    margin-top: 8vw;
    margin-bottom: 1vw;
    width: 45vw;
}
.spaun-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#spaun{
    width: 26%;
    /* margin-left: 28.5vw; */
    margin: auto;
    margin-top: 4vh;

}
.text-content{
    font-family: "Arial Narrow", sans-serif;
    font-size: 1.315vw;
    /* margin-left: 28.5vw; */
    margin: auto;
    margin-top: 4vw;
    width: 34vw;
}
.video-block{
    /* margin-left: 28.5vw; */
    margin: auto;
    margin-top: 11vh;
}
.foto{
    display: flex;
    margin: auto;
    margin-top: 4vw;
    align-items: center;
    justify-content: center;
}

.follow-container{
    display: flex;
    justify-content: center;
}
#submit{
    background: black;
    color: white;
    width: 46%;
    height: 2.45vw;
    margin-top: 4vh;
    border-radius: 2vw;
    font-size: 1.7vw;
}
.social-container{
    display: flex; 
    justify-content: center; 
    margin-bottom: 4vw;
    margin-top: 4vh;
}
.social-container input{
    width: 2vw;
    padding: 0.3vw;
    border-radius: 0.5vw;  
}
.foto-block, .foto-text-foto{
    width: 35vw;
}
.video-container{
    margin-top: 4vw;
    display: flex;
    margin: auto;
}
.video-block{
    margin: auto;
    width: 45vw;   
}
#formData{
    position: relative;
    height: 0;
    width: 0;
    margin-top: 100vh;
}
