  
.checkbox12-2 {
    transform: scale(0.2);
    display: grid;   
    margin-left: -16.15vw;
    margin-top: 1.65vw;
  }
.checkbox__input12-2 input {
    opacity: 0;
    width: 0;
    height: 0;
}
.checkbox__control12-2, .checkbox__control12-2.fake {
    position: absolute;
    display: inline-grid;
    width: 6.5vw;
    height: 6.5vw;
    border-radius: 50%;
    cursor: pointer;
    z-index: 50;
    margin-top: -0.9vw;
    margin-left: -0.9vw;
    cursor: pointer;
}
.checkbox__control12-2.fake {
    position: absolute;
    border: 1vw solid white;
    background-color: black;
    z-index: 1;
    width: 4.5vw;
    height: 4.5vw;

}

.checkbox__hover12-2 {
    display: inline-grid;
    width: 7.65vw;
    height: 7.65vw;
    border-radius: 50%;
    margin-top: -7.65vw;
  }
  .checkbox__input12-2 {
    width: 4.5vw;
    height: 4.5vw;
    background-color: transparent;
    border-radius: 50%;
    margin-top: -10.75vw;
    margin-left: 16.75vw;
}
.checkbox__input12-2 > * {
    grid-area: checkbox;
}
.checkbox__control12-2 svg {
    transform: scale(0);
    margin-top: -6.1vw;
    width: 12vw;
    height: 9vw;
}
.checkbox__hover12-2 svg {
    transform: scale(0);
    margin-left: -0.79vw;
    margin-top: -3vw;
}
.checkbox__input12-2 input:checked + .checkbox__control12-2 svg {
transform: scale(1.3);
}


#svg12-2{
    display: none;
    margin-top: -6.5vw;
    width: 10vw;
    height: 9.5vw;
    transform: scale(1.3);
    position: relative;
    z-index: 1;
    margin-left: -0.5vw;
}
.checkbox__control12-2:hover ~ #svg12-2{
    transform: scale(1.3);
}