.cont20-1, .cont20-2, .cont20-3, .cont20-4, .cont20-5, .cont20-6{
    position: absolute;
    color: white;
    font-size: 1.29vw;
    margin-top: 5.65vw;
    margin-left: 3vw;   
    width: 22vw;
}
.cont20-1{
   
    font-size: 3.45vw;
    width: 16.2vw;
    margin-left: 1.76564vw;
    margin-top: 1.68vw;
}
#sms{
    margin-top: 8.34vw;
    margin-left: 2.65vw;
    width: 20.12vw;
}
.cont20-2{
    margin-left: 1.76513vw;
    font-size: 1.03vw;
    margin-top: 5.9vw;
}
.cont20-3{
    margin-left: 6.13vw;
    font-size: 0.875vw;
    margin-top: 10.45vw;
    color: black;
}
.cont20-4{
    margin-left: 6.1251vw;
    font-size: 0.8732vw;
    margin-top: 11.7vw;
    color: black;
}
.cont20-5{
    margin-left: 4.24vw;
    font-size: 0.88vw;
    margin-top: 15.27vw;
    color: black;
}
.cont20-6{
    margin-left: 4.764vw;
    font-size: 0.88vw;
    margin-top: 18.765327vw;
    color: black;
}
.cont18-AMA{
    font-size: 3.52vw;
    width: 30vw;
    color: #e7335d;
    margin-left: 1.576vw;
    margin-top: 1.63vw;
}
#AMA{
    margin-left: 8.123vw;
    margin-top: 1.7vw;
    width: 12.88vw;
}

.cont21-1{
    font-size: 3.42vw;
    width: 30vw;
    color: #e7335d;
    margin-left: 1.7vw;
    margin-top: 1.5vw;
}
#directmail1{
    margin-top: 2.4vw;
    margin-left: 2.49vw;
    width: 19.76vw;
}
 .cont21-2{
    margin-top: -11.033vw;
    margin-left: 3.91vw;
    font-size: 1.495vw;
}
.flower{
    margin-top: 3.6vw;
    margin-left: 1.3vw;
    width: 21.9vw;
}
#our-serv{
    width: 100%;
}
.cont25-1{
    font-size: 3.45vw;
    width: 16.2vw;
    color: #ffffff;
    margin-left: 1.62vw;
    margin-top: 1.6vw;
}
#packman{
    margin-left: 4.6vw;
    margin-top: 2.145vw;
    width: 14.65vw;
}
.cont26-1{
    font-size: 3.44vw;
    width: 16.2vw;
    color: black;
    margin-left: 1.42vw;
    margin-top: 1.5vw;
}
#TV{
    margin-left: 1.4vw;
    margin-top: 4vw;
    width: 21.76vw;
}



.cont28-1{
    font-size: 3.47vw;
    width: 16.2vw;
    color: #000000;
    margin-left: 1.62vw;
    margin-top: 1.7vw;
}
#men{
    margin-top: 3.35vw;
    margin-left: 4.6vw;
}



.cont29-1{
    font-size: 3.47vw;
    width: 16.2vw;
    color: #ffffff;
    margin-left: 1.92vw;
    margin-top: 1.6vw;
}
#mens{
    margin-top: 4.2vw;
    margin-left: 1.92vw;
    width: 21vw;
}



.cont30-1{
    font-size: 3.476vw;
    color: #ffffff;
    margin-left: 1.72vw;
    margin-top: 1.7vw;
}
#comics{
    margin-top: 1.9vw;
    margin-left: 4.7vw;
    width: 15.65vw;
}









