/* #slide1-1{
    background-image: url("../svg/portfolio/graphLinq_1.svg");
}
#slide1-2{
    background-image: url("../svg/portfolio/graphLinq_2.svg");
}
#slide2-1{
    background-image: url("../svg/portfolio/telescr_in_1.svg");
}
#slide2-2{
    background-image: url("../svg/portfolio/telescr_in_2.svg");
}
#slide3-1{
    background-image: url("../svg/portfolio/utopia_1.svg");
}
#slide3-2{
    background-image: url("../svg/portfolio/utopia_2.svg");
} */
#slide4-1{
    background-image: url("../svg/portfolio/new/Airdrop_1.svg");
}
#slide4-2{
    background-image: url("../svg/portfolio/new/Airdrop_2.svg");
}
#slide5-1{
    background-image: url("../svg/portfolio/new/listing_1.svg");
}
#slide5-2{
    background-image: url("../svg/portfolio/new/listing_2.svg");
}
#slide6-1{
    background-image: url("../svg/portfolio/new/Targeting_1.svg");
}
#slide6-2{
    background-image: url("../svg/portfolio/new/Targeting_2.svg");
}
#slide7-1{
    background-image: url("../svg/portfolio/new/CROWDSHILLING_1.svg");
}
#slide7-2{
    background-image: url("../svg/portfolio/new/CROWDSHILLING_2.svg");
}
#slide8-1{
    background-image: url("../svg/portfolio/new/Influencers_1.svg");
}
#slide8-2{
    background-image: url("../svg/portfolio/new/Influencers_2.svg");
}
#slide9-1{
    background-image: url("../svg/portfolio/new/consulting_1.svg");
}
#slide9-2{
    background-image: url("../svg/portfolio/new/consulting_2.svg");
}
#slide10-1{
    background-image: url("../svg/portfolio/new/AMA_1.svg");
}
#slide10-2{
    background-image: url("../svg/portfolio/new/AMA_2.svg");
}
#slide11-1{
    background-image: url("../svg/portfolio/new/direct_mail_1.svg");
}
#slide11-2{
    background-image: url("../svg/portfolio/new/direct_mail_2.svg");
}
#slide12-1{
    background-image: url("../svg/portfolio/new/Mass_Media_1.svg");
}
#slide12-2{
    background-image: url("../svg/portfolio/new/Mass_Media_2.svg");
}
#slide13-1{
    background-image: url("../svg/portfolio/new/Bounty_1.svg");
}
#slide13-2{
    background-image: url("../svg/portfolio/new/Bounty_2.svg");
}
