#modal{
    position: fixed;
    z-index: 30;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    display: none;
}
.modal-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.modal-form{
  /* position: relative;
  z-index: 31;
  width: 55.3vw;
  height: 93vh;
  background-color: rgba(0, 0, 0, 1);
  margin-top: 2vw;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  overflow: hidden;
  background-image: linear-gradient(to right, #e7335d 50%, transparent 50%), linear-gradient(to right, #e7335d 50%, transparent 50%), linear-gradient(to bottom, #e7335d 50%, transparent 50%), linear-gradient(to bottom, #e7335d 50%, transparent 50%);
  background-position: left top, left bottom, left top, right top;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 5vw 1vw, 5vw 1vw, 1vw 5vw, 1vw 5vw; */
  position: relative;
    z-index: 31;
    width: 60vw;
    height: 90vh;
    background-color: rgba(0, 0, 0, 1);
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    overflow: hidden;
    background-image: linear-gradient(to right, #e7335d 50%, transparent 50%), linear-gradient(to right, #e7335d 50%, transparent 50%), linear-gradient(to bottom, #e7335d 50%, transparent 50%), linear-gradient(to bottom, #e7335d 50%, transparent 50%);
    background-position: left top, left bottom, left top, right top;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 7vw 1vw, 7vw 1vw, 1vw 14vh, 1vw 14vh;
}
.modal-logo-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 12%;
  padding-top: 1vw;
  transition: all 1s;
}
.modal-logo-container a{
    display: flex;
    justify-content: center;
    width: 100%;
}
#modal-logo{
  width: 9%;
  transition: all 1s;
}

.touch-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    transition: all 1s;
}
.cont-modal1{
    color: #e7335d;
    font-size: 2.87vw;
    margin-top: -0.75vw;
    transition: all 1s;
}
.cont-modal2{
    color: #e7335d;
    font-size: 0.915vw;
    margin-top: 0.8vw;
    transition: all 1s;
}


.modal-content{
    width: 41.2vw;
    height: 20.5vw;
    margin-top: 0.7vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transition: all 1s;
}
.modal-form-item{
    width: 48%;
    display: flex;
    flex-direction: column;
    margin-right: 0.4vw;
    margin-left: 0.4vw;
    padding-bottom: 2.4vw;
    padding-top: 0.3vw;
}
.modal-form-item.name{
    width: 100%;
   
}
.modal-form-item label{
    font-family: 'Arial Narrow', Arial, sans-serif;
    padding-top: 0.5vw;
    padding-bottom: 0.2vw;
    padding-left: 0vw;
    font-size: 0.73vw;
    color: #e7335d;
}


.modal-form-item.last {
    width: 40.47vw;
    display: flex;
    height: 7.2vw;
    flex-direction: column;
    
}
.modal-form-item.last textarea{
    height: 10vw; 
}
.modal-form-item.last textarea::-webkit-input-placeholder {
    color:rgba(230, 52, 94, 0.51);
     padding-top: 1vw;
     font-size: 2.3vw;
 }
 
 .modal-form-item.last textarea::-moz-input-placeholder {
    color:rgba(230, 52, 94, 0.51);
    padding-top: 1vw;
    font-size: 2.3vw;
 }
 
 .modal-form-item.last textarea:-ms-input-placeholder {
    color:rgba(230, 52, 94, 0.51);
    padding-top: 1vw;
    font-size: 2.3vw;
 }
 


.modal-form-item.last input ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    /* color:rgba(230, 52, 94, 0.51) */
  }
  .modal-form-item.last input ::-moz-placeholder { /* Firefox 19+ */
    /* color:rgba(230, 52, 94, 0.51) */
  }
  .modal-form-item.last input :-ms-input-placeholder { /* IE 10+ */
    /* color:rgba(230, 52, 94, 0.51) */
  }
  .modal-form-item.last input :-moz-placeholder { /* Firefox 18- */
    /* color:rgba(230, 52, 94, 0.51) */
  }
#attach_label{
    margin-top: -1.34vw;
}
.small_label {
    font-family: 'Arial Narrow', Arial, sans-serif;    
}
a.small_label{   
    margin-left: 15vw;
    margin-top: -1.38vw;
    width: 5vw;
    font-size: 0.765vw; 
}
label.small_label{   
    margin-left: 18.88vw;
    margin-top: -1.33vw;
    width: 9vw;
    font-size: 0.765vw;
}


.modal-form-item .dotted{
  border: 0.15vw dotted #e7335d;
  width: 40.4vw;
  height: 1.87vw;
  box-sizing: border-box;
  margin-top: 0.65vw;
}

  input[type="text"],
  input[type="email"],
  input[type="url"],
  textarea
  {
    display: inline-block;
    box-sizing: border-box;
    outline: none;
    padding: 0.6vw 0vw 0.6vw 1.5vw;
    font-size: 0.9vw;
    height: 3.04vw;
  }
  #label2 input[type="text"],
  #label2 input[type="email"],
  #label2 input[type="url"]{
    display: inline-block;
    box-sizing: border-box;
    outline: none;
    padding: 0.6vw 0vw 0.6vw 1.5vw;
    font-size: 17.3px;
    height: 3.04vw;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color:rgba(230, 52, 94, 0.51)
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color:rgba(230, 52, 94, 0.51)
  }
  :-ms-input-placeholder { /* IE 10+ */
    color:rgba(230, 52, 94, 0.51)
  }
  :-moz-placeholder { /* Firefox 18- */
    color:rgba(230, 52, 94, 0.51)
  }
  

  #hand{
    width: 1vw;
    margin-left: 23vw;
    margin-top: -2.2vw;
  }
  #submit-modal{
    width: 13.2vw;
    height: 3.1vw;
    background: #fed841;
    border: none;
    color: #e7335d;
    margin-left: 13.2vw;
    font-size: 1.21vw;
  }

  #close-modal{
    position: absolute;
    width: 3vw;
    right: 0;
    top: 0;
    margin-top: 4vw;
    margin-right: 4vw;
    transition: all 1s;
    cursor: pointer;
  }
  .thank-container{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-left: 100vw;
    transition: all 1s;
  }
  .thank{
    /* position: fixed;
    top: 0;
    padding-top: 8vw;
    padding-left: 33vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 1s;
    z-index: 30;
    opacity: 0;
    transition: all 1.5s; */
    position: absolute;
    top: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 1s;
    z-index: 30;
    transition: all 1.5s;
    margin-top: 12vh;
}
.thank1 {   
    color: #e7335d;
    margin-left: 0;
    font-size: 6.35vw;
    margin-top: 10vw;
    margin-bottom: 7vw;
    white-space: nowrap;
}
.thank2, .thank3 {
    color: #e7335d;
    margin-left: 0;
    font-size: 5vh;
    padding-top: 0vw;
    width: 70%;
    text-align: center;
    white-space: nowrap;
}
