.c21 .ru, .c21 .cz{
	display: none;
}
ul.lst-kix_h6sj4h50lspm-0 {
	list-style-type: none
}

ul.lst-kix_h6sj4h50lspm-3 {
	list-style-type: none
}

ul.lst-kix_h6sj4h50lspm-4 {
	list-style-type: none
}

ul.lst-kix_h6sj4h50lspm-1 {
	list-style-type: none
}

ul.lst-kix_h6sj4h50lspm-2 {
	list-style-type: none
}

ul.lst-kix_h6sj4h50lspm-7 {
	list-style-type: none
}

.lst-kix_h6sj4h50lspm-7>li:before {
	content: "\0025cb  "
}

ul.lst-kix_h6sj4h50lspm-8 {
	list-style-type: none
}

ul.lst-kix_h6sj4h50lspm-5 {
	list-style-type: none
}

ul.lst-kix_h6sj4h50lspm-6 {
	list-style-type: none
}

.lst-kix_h6sj4h50lspm-8>li:before {
	content: "\0025a0  "
}

.lst-kix_2q1ukyvvcg5g-8>li:before {
	content: "-  "
}

.lst-kix_2q1ukyvvcg5g-7>li:before {
	content: "-  "
}

.lst-kix_2q1ukyvvcg5g-5>li:before {
	content: "-  "
}

.lst-kix_h6sj4h50lspm-0>li:before {
	content: "\0025cf  "
}

.lst-kix_2q1ukyvvcg5g-6>li:before {
	content: "-  "
}

.lst-kix_2q1ukyvvcg5g-3>li:before {
	content: "-  "
}

li.li-bullet-0:before {
	margin-left: -18pt;
	white-space: nowrap;
	display: inline-block;
	min-width: 18pt
}

.lst-kix_2q1ukyvvcg5g-4>li:before {
	content: "-  "
}

ul.lst-kix_2q1ukyvvcg5g-1 {
	list-style-type: none
}

ul.lst-kix_2q1ukyvvcg5g-0 {
	list-style-type: none
}

.lst-kix_h6sj4h50lspm-5>li:before {
	content: "\0025a0  "
}

.lst-kix_h6sj4h50lspm-6>li:before {
	content: "\0025cf  "
}

.lst-kix_2q1ukyvvcg5g-1>li:before {
	content: "-  "
}

.lst-kix_h6sj4h50lspm-4>li:before {
	content: "\0025cb  "
}

.lst-kix_2q1ukyvvcg5g-2>li:before {
	content: "-  "
}

ul.lst-kix_2q1ukyvvcg5g-8 {
	list-style-type: none
}

.lst-kix_h6sj4h50lspm-1>li:before {
	content: "\0025cb  "
}

.lst-kix_h6sj4h50lspm-2>li:before {
	content: "\0025a0  "
}

ul.lst-kix_2q1ukyvvcg5g-7 {
	list-style-type: none
}

ul.lst-kix_2q1ukyvvcg5g-6 {
	list-style-type: none
}

ul.lst-kix_2q1ukyvvcg5g-5 {
	list-style-type: none
}

ul.lst-kix_2q1ukyvvcg5g-4 {
	list-style-type: none
}

.lst-kix_h6sj4h50lspm-3>li:before {
	content: "\0025cf  "
}

.lst-kix_2q1ukyvvcg5g-0>li:before {
	content: "-  "
}

ul.lst-kix_2q1ukyvvcg5g-3 {
	list-style-type: none
}

ul.lst-kix_2q1ukyvvcg5g-2 {
	list-style-type: none
}

ol {
	margin: 0;
	padding: 0
}

table td,
table th {
	padding: 0
}

.c4 {
	color: #000000;
	font-weight: 700;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 12pt;
	font-family: "Arial";
	font-style: normal;
	color: #e7335d;
    font-size: 3.2vw;
    font-family: Womby, Impact, "Arial Black", sans-serif;
}

.c15 {
	color: #000000;
	font-weight: 700;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 13pt;
	font-family: "Arial";
	font-style: normal;
    font-size: 3.2vw;
}

.c2 {
	color: #000000;
	font-weight: 400;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 12pt;
	font-family: "Arial";
	font-style: normal;
	font-family: "Arial Narrow", sans-serif;
    font-size: 3.55vw;
}

.c9 {
	color: #000000;
	font-weight: 700;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 15pt;
	font-family: "Arial";
	font-style: normal;
	color: #e7335d;
    font-size: 3.2vw;
	font-family: Womby, Impact, "Arial Black", sans-serif;
    font-size: 6.55vw;
}

.c0 {
	padding-top: 0pt;
	text-indent: 36pt;
	padding-bottom: 0pt;
	line-height: 1.15;
	orphans: 2;
	widows: 2;
	text-align: left;
    padding-bottom: 4vw;
}

.c1 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.15;
	orphans: 2;
	widows: 2;
	text-align: left;
	height: 11pt
}

	

.c12 {
	color: #000000;
	font-weight: 400;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 11pt;
	font-family: "Arial";
	font-style: normal
}

.c5 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.1500022727272727;
	orphans: 2;
	widows: 2;
	text-align: left;
    margin-bottom: 4vw;
	text-indent: 36pt;
}

.c3 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.15;
	orphans: 2;
	widows: 2;
	text-align: left;
	font-family: "Arial Narrow", sans-serif;
    font-size: 3.55vw;
	margin-top: 7vw;
	text-indent: 36pt;
}

.c20 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.1500022727272727;
	orphans: 2;
	widows: 2;
	text-align: center
}

.c18 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.15;
	orphans: 2;
	widows: 2;
	text-align: center
}

.c17 {
	color: #000000;
	font-weight: 400;
	text-decoration: none;
	vertical-align: baseline;
	font-family: "Arial";
	font-style: italic
}

.c21 {
	background-color: #ffffff;
	max-width: 451.4pt;
	/* padding: 72pt 72pt 72pt 72pt */
}

.c6 {
	font-size: 7pt;
	font-family: "Times New Roman";
	font-weight: 400
}

.c16 {
	font-family: "Times New Roman";
	font-weight: 400
}

.c10 {
	/* margin-left: 36pt; */
	padding-left: 0pt
}

.c11 {
	margin-left: 54pt;
	text-indent: -18pt
}

.c14 {
	padding: 0;
	margin: 0;
    margin-bottom: 4vw;
}

.c8 {
	text-indent: 36pt
}

.c19 {
	background-color: #ffff00
}

.c13 {
	text-indent: 35pt
}

.c7 {
	font-size: 12pt;
    font-family: "Arial Narrow", sans-serif;
    font-size: 3.55vw;
}

.title {
	padding-top: 0pt;
	color: #000000;
	font-size: 26pt;
	padding-bottom: 3pt;
	font-family: "Arial";
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

.subtitle {
	padding-top: 0pt;
	color: #666666;
	font-size: 15pt;
	padding-bottom: 16pt;
	font-family: "Arial";
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

li {
	color: #000000;
	font-size: 11pt;
	font-family: "Arial"
}

p {
	margin: 0;
	color: #000000;
	font-size: 11pt;
	font-family: "Arial"
}

h1 {
	padding-top: 20pt;
	color: #000000;
	font-size: 20pt;
	padding-bottom: 6pt;
	font-family: "Arial";
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

h2 {
	padding-top: 18pt;
	color: #000000;
	font-size: 16pt;
	padding-bottom: 6pt;
	font-family: "Arial";
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

h3 {
	padding-top: 16pt;
	color: #434343;
	font-size: 14pt;
	padding-bottom: 4pt;
	font-family: "Arial";
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

h4 {
	padding-top: 14pt;
	color: #666666;
	font-size: 12pt;
	padding-bottom: 4pt;
	font-family: "Arial";
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

h5 {
	padding-top: 12pt;
	color: #666666;
	font-size: 11pt;
	padding-bottom: 4pt;
	font-family: "Arial";
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

h6 {
	padding-top: 12pt;
	color: #666666;
	font-size: 11pt;
	padding-bottom: 4pt;
	font-family: "Arial";
	line-height: 1.15;
	page-break-after: avoid;
	font-style: italic;
	orphans: 2;
	widows: 2;
	text-align: left
}